.mywell
{
    border:0px;
    background-color: #F3F3F3;
    cursor:default;
    color:#005271;
    font-family: Roboto, Arial;
    border-radius:2px;
    padding:0px;
    padding-bottom:15px;
    margin:10px;
}
.mywell .header
{
    border-bottom:0px solid #005271;
    color: #005271;
    background-color:#005271;
    color:#FFF;
    padding:13px;
    margin:0px;
    border-radius:2px;
    text-align:center;
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
}
.mywell .body
{
    min-height: 130px;
    font-size: 15px;
    line-height:28px;
    margin:10px;
}
.mywell .footer
{
    min-height:45px;
    font-size: 13px;
    padding-top:7px;
    border-top:0px solid;
}
.dashboard_widget
{
    border-bottom:0px;
    background-color: #F3F3F3;
    cursor: pointer;
    color:#005271;
    font-family: Roboto, Arial;
    font-weight:400;
    border-radius: 7px;
    padding:15px;
    margin:0px;
    min-height:120px;
}
.dashboard_widget:hover
{
    color: #FB6400;
    background-color: #F8F8F8;
}
.dashboard_widget .inner{min-height:80px;}
.dashboard_widget:hover .inner{border-bottom:1px solid #FB6400;}
.dashboard_widget .well_icon
{ 
    font-size:40px;
    padding-bottom:5px;
}

.mylabel
{
    color:#005271;
    font-size:15px;
    font-family: Roboto, Arial;
    font-weight: 400;
}
.labelmessage
{
    font-family:Roboto; 
    font-weight:400; 
    font-size:14px;
}
.mytextbox
{
    color:#005271;
    font-size:16px;
    font-family: Roboto, Arial;
    font-weight:normal;
}
.wellbutton
{
    width: 75%;
    background-color: #DCDCDC;
    color: #005271;
    font-size: 15px;
    font-family: "Roboto" , 'Helvetica Neue, Helvetica, Arial' , sans-serif;
    font-weight: 400;
    border-radius: 0px;
    height: 40px;
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.3);
}
.wellbutton:hover
{
    border-bottom:1px solid #FB6400;
    color: #005271;
}
.mybutton
{
    border-width: 0px;
    /*background-color: #FFAD77;*/
    font-size: 15px;
    font-family: Roboto, Arial;
    font-weight: 400;
    border-radius:3px;
}
.mybutton:hover
{
    /*background-color: #FF6F0F;*/
}
.mybutton_img
{
    margin-top:10px;
    border:1px solid #F1F1F1;
    background-color:transparent;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}
.mybutton_img:hover, .mybutton_img:focus, .mybutton_img:active
{
	cursor:pointer;
    background-color:#FBFBFB;
    border:1px solid #E0E0E0;
    box-shadow: 0px 7px 20px 3px rgba(0,0,0,0.2);
}
.btn-primary1{background-color:#FF8C40;}

.mydropdown
{
    border:1px solid #CCC;
    border-radius:3px;
    background-color:#FFF;
    height:40px;
    color:#005271;
    font-size:16px;
    font-family:Roboto;
    font-weight:300;
    vertical-align:top;
    padding:3px;
    line-height:40px;
    /*-webkit-appearance: none; */
    text-indent: 0.01px;/*In Firefox*/
    text-overflow: '';/*In Firefox*/
}


/* GRID VIEW : START */
.gvHeader
{
    text-align:center !important;
    color: #005271;
    font-size: 13px;
}
.gvMain
{
    background-color:#FFF;
    margin-bottom:0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
}
.gvRowStyle
{
    color:#005271;
}
.gvAltRowStyle
{
    color: #005271;
}
.gvEditRow
{
    background-color:#E1E1E1;
}
.gvFooterRow
{
    background-color:#E1E1E1;
    font-weight:bold;
    color:#333;
}
.gvSelectedRow
{
    background-color:#CDCDCD;
    font-weight:bold;
    color:#333;
} 
.gvPager
{
    height: 30px;
    background-color: #FCFCFC;
    padding: 2px;
    margin: 2% auto;
}
.gvPager a{
    margin:auto 3px;
    border-radius:23%;
    background-color:#DDD;
    color:#005271;
    padding:4px 7px;
    text-decoration:none;
    -o-box-shadow:1px 1px 1px #111;
    -moz-box-shadow:1px 1px 1px #111;
    -webkit-box-shadow:1px 1px 1px #111;
    box-shadow:1px 1px 1px #111;
}
.gvPager a:hover
{
    background-color:#FF934A;
    font-weight:bold;
}
.gvPager span
{
    margin:auto 3px;
    border-radius:23%;
    background-color:#FF934A;
    color:#005271;
    padding:4px 7px;
    font-weight:bold;
    text-decoration:none;
    -o-box-shadow:1px 1px 1px #111;
    -moz-box-shadow:1px 1px 1px #111;
    -webkit-box-shadow:1px 1px 1px #111;
    box-shadow:1px 1px 1px #111;
}
/* GRID VIEWS : END */

.modalProcessing
{
    position: fixed;
    top: 50% !important; 
    margin-top: -65px;
    left: 50% !important;
    margin-left: -65px;
    overflow: visible !important;
}
.modalProcessing .modal-dialog, .modalProcessing .modal-content
{
    width: 130px;
    height: 130px;
    background-color: #F1F1F1;
    border-radius: 5px;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #262626 !important;
}
.modalProcessing .modal-body
{
    padding: 0 !important;
}
.modalProcessing .icon
{
    width:84% !important;
    height:84% !important;
}
.modal-backdrop
{
    background-color: #FFF;
    opacity:0.6 !important;
}